* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
  color: #fff;
}

.container {
  width: 320px;
  max-width: 90%;
  margin: 20px 0;
  background: #000;
  padding: 30px;
  border-radius: 10px;
}

.display {
  background: mediumseagreen;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 10px;
}

.numerals {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numerals span {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  background: #272727;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  height: 40px;
}

button:hover {
  cursor: pointer;
  background: #1a1a1a;
}

.actions {
  margin: 10px 0;

  display: flex;
  gap: 10px;
}

.actions button {
  font-size: 24px;
}

#equal {
  width: 100%;
  font-size: 24px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
}

.footer .author {
  color: inherit;
}

.footer .author:hover {
  color: mediumseagreen;
}
